node_modules/
logs/*
!logs/.gitkeep
notification_logs/*
!notification_logs/.gitkeep
newrelic_agent.log
.idea/*
doc/*
data-logs/*
dump.rdb
locales/*
uploads/*
.DS_Store
npm-debug.log
config/production.json
.vscode
certs/*
package-lock.json
shuttle/*
